/* navigation start */
/* #navigation{
    position:sticky;
    top: 0px;
    width: 100%;
} */
/* navigation end */
/* top-benner-start */
.header-content .line {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border: 9px solid #0b0a0a;
}
 #bennertop{
    position: absolute;
    top: 20rem;
    left: 8rem;
} 
.textcolors{
    color: #134377;
}
.bgcolor{
    background-color: #134377 !important;


}
/* who we are */
.whowe::before{
    /* width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 65px;
    left: 50%;
    z-index: 99;
    margin-left: -14px;
    background-color: #fdc500; */
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #fdc500;
}

.whowe::after{
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    left: 50%;
    margin-left: -50px;
    background-color: #fdc500;
}
.whowe {
    text-align: center;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 700;
}
@media only screen and (max-width: 750px) and (min-width: 320px){
.whowe {
    margin-bottom: 20px;
}}
/* why choose us */
.headingtitle{
    position: relative;
    bottom: 5px;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 20px;
}
.headingtitle::before{
    content: '';
    background-color: #fdc500;
    display: block;
    height: 5px;
    position: absolute;
    width: 30px;
    bottom: 0px;
    margin: 0 auto;
    z-index: 99;
    left: 0;
}
.headingtitle::after{
    content: "";
    width: 100px;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    background-color: #fdc500;
    margin: 0 auto;
}
 [data-bs-toggle="collapse"].collapsed .fas:before {
    

    content: "\f105";
}
[data-bs-toggle="collapse"] .fas::before {
    content: "\f107";
} 

a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: #007bff;
    background-color: transparent;
}
.fas{
    position: absolute;
    left: 50%;
    font-size: 21px;
    transform: translate(-50%, -50%);
    color: #fff;
    top: 50%;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff !important;
    background-clip: border-box;
    border-radius: .25rem;
    margin-bottom: 20px;
}    

.accordian-title{
    position: relative;
    left: 50px;
    top:2px;
    color: #0b0a0a;
    font-weight: 700;
}
.cardh{
    background-color: #fff !important;
    height: 50px;
    
}
.inicon{
    background-color: #134377;
    position: absolute;
    left: 0;
    right: 0;
    width: 55px;
    height: 50px;
    top: 0;
    border: 1px solid #134377;
} 

 /* our clients */
 /* .imgs{
    position: relative;
    animation-name: trans;
    animation-duration:4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
 } */
 
.ourc{
   height: 130px;
    /* margin: auto; */
    /* position: relative; */
    width: 90%;
    place-items: center;
    /* display: grid; */
    overflow: hidden;
}
.brands{
    display: flex;
    width: calc(200px * 16);
    animation:scroll 8s linear infinite;
}

 
  @keyframes scroll {
    0%{
       transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-200px * 8 ));
    } 
}
.imgs{
    height: 100px;
    width: 200px;
    align-items: center;
    padding: 15px;
    margin: 15px;
    border: 2px solid;
    border-radius: 10px;
}
.scrollimg{
    height: 100%;
    
}
/* testimonials */
.testi{
    width: 100%;
    height: 100%;
    background-image: url("bgcover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.bgovrlay{
   width: 100%;
   height: 100%;
    background-color: rgba(23, 23, 109, 0.7);
} 

.testcontent {
    height: 100%;
    background-color: #fff;
    border: 2px solid white;
    border-radius: 10px;
}
.testcontent p{
    
    padding: 50px;
}
.indicator{
    position: relative;
    top: 2px;
}

/* footer start
.social{
    list-style: none;
    display: inline;
    margin-bottom: 20px;
}
.social li{
    display:inline-flex;
}
.lists{
    margin-left: 25px;
    margin-right: 30px;
}
.listsd{
    margin-left: 15px;
}
.listsf{
    margin-right: 30px;
}
.footersection
{
    background-color: rgba(128, 128, 128, 0.211);
} */

    /* navbar dropdown */
    .drops:hover{
        background-color: #134377;
        color: #fff;

    }
    
    /* footer start */

footer {
    /* background: #232831; */
    background:#f0f0f0;
    position: relative;
    padding: 30px 0px;
}
footer ul {
    list-style-type: none;
}

footer ul li a{
    color:#fff;
 text-decoration: none;
 
}
footer ul li{
    margin-bottom: 10px;
    position:relative;
    left:-25px;
}
.menulist::before{
    position: relative;
    content: "\f192";
    top: 2px;
    left: -5px;
    /* color: #fb7c00; */
    color: #fdc500;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
}
.continfo li:before {
    content: "\f095";
    color: #fff;
    font-size: 22px;
    position: relative;
}
.textcolor{
    color: #fff;
}
body a{
    text-decoration: none;
}
.fa-facebook-f:before {
    content: "\f39e";
}
.footer-social ul li {
    margin: 0 5px 0 0;
    padding: 0px 0px;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    line-height: 1.6;
}
.footer-social ul li a {
    /* background: rgba(255, 255, 255, 0.2); */
     background: rgba(25, 25, 25, 0.301); 
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
}
.ftextcolor
{
    /* color: #8c8c8c; */
     color: #7a7979; 
    
}
/* footer end */